@import url(../main.css);

.five{
    position: relative;
    color: var(--text-color);
    width: var(--width);
    padding: 0 0 2rem 3rem;
    font-family: var(--font);
}

.five p{    
    padding: 1rem 0;
    font-size: var(--text-size);
}

.five .carousel{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.five .carousel img{
    padding: 0.2rem;
}