@import url(../main.css);

.two{
    padding: 0 0 3rem 3rem;
    color: var(--text-color);
    width: var(--width);
}

.two p{
    padding: 0.5rem 0;
    font-size: var(--text-size);
}

.two .carousel{
    width: var(--width);
    display: flex;
    overflow: hidden;
}

.two .carousel img{
    padding: 0 0.2rem;
}