footer{
    position: relative;
    background: rgba(var(--main-color), 1);
    /* border-bottom: 0.5rem solid var(--line-color); */
    padding: 2rem;
    width: var(--width);
    color: var(--footer-text);
    font-size: var(--footer-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer #p{
    width: var(--width);
    padding: 0 0 0 15.5rem;
}

footer .container{
    position: relative;
    width: calc((var(--width)) * 0.8);
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;
}

footer .container nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .container nav a{
    color: var(--footer-text);
    text-decoration: none;  
    padding: 0.3rem 0;
}

footer .bottom{
    width: var(--width);
    padding: 0 0 0 15.5rem;
    display: flex;
    flex-direction: column;
}

footer .bottom button{
    width: calc((var(--width)) * 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 0;
    color: var(--text-color);
    background: rgba(var(--main-color), 1);
    outline: none;
    border: 0.15rem solid var(--line-color);
    margin: 0 0 2rem  0;
}